/* Text Changes */
.row-fluid>.span8>h1, .row-fluid>.span8>h2, .row-fluid>.span8>h3 { text-align: center; }
.row-fluid>.span8>p, .row-fluid>.span4>p { text-align: justify; }

/* Navigation */
.container-fluid>.row-fluid>.span2, .container-fluid>.row-fluid>.span6 { margin-top: 30px; }
.container-fluid>hr { margin-top: 100px; }
.topnav { position: fixed; margin-bottom: 100px; background-color: #ffffff; }

/* Featurettes */
.featurette { margin-top: 200px; }
.featurette>.span5>p { margin-top: 50px; line-height: 1.6em; }

/*icons*/
.icon-list, .icon-pencil, .icon-shopping-cart { margin-top: 5px; }